tox==3.0.0
autopep8==1.3.5
docformatter==1.0
pytest == 3.6.3
sphinx-click==1.3.0

-e git://github.com/gbpoole/gbpBuild.git@f711abc3300aa042508c665e44ee0905d0e10392#egg=gbpBuild&subdirectory=python/gbpBuild
